{% layout 'layout.liquid' %} {% block content %}


<div id="bottomCards">
  <div class="homeCards">
    <img src='http://snocountry.com/ski_area_logos/{{regions[0].id}}logo.jpg' class="regionImg">
<p>___________</p> 
<h6>{{regions[0].maxOpenDownHillAcres}}</h6>
<h6>Skiable Acres</h6>
<div class="userEnterReg">
    <input
      type="submit"
      value="Add to My Resorts"
      class="btn btn-success"
      id="logInButReg"
    />
  </div>
</div>
  
  <div class="homeCards">
    <img src='http://snocountry.com/ski_area_logos/{{regions[1].id}}logo.jpg' class="regionImg">
    <p>___________</p>  
    <h6>{{regions[1].maxOpenDownHillAcres}}</h6>
<h6>Skiable Acres</h6>
<div class="userEnterReg">
    <input
      type="submit"
      value="Add to My Resorts"
      class="btn btn-success"
      id="logInButReg"
    />
  </div>
  </div>
 
  <div class="homeCards">
    <img src='http://snocountry.com/ski_area_logos/{{regions[2].id}}logo.jpg' class="regionImg">
    <p>___________</p>  
    <h6>{{regions[2].maxOpenDownHillAcres}}</h6>
<h6>Skiable Acres</h6>
<div class="userEnterReg">
    <input
      type="submit"
      value="Add to My Resorts"
      class="btn btn-success"
      id="logInButReg"
    />
  </div>
  </div>
</div>






{% endblock %}