{% layout 'layout.liquid' %} {% block content %}

<div id="regionMain">
    <h3>{{ regionId }}</h3>
    <p>___________</p> 
    <img class="regionHomeImg" src="/assets/pngaaa.com-178935.png">
    <form id="logInForm" action="/regions" method="POST">
        <div id="resortSearch" style="display:none">
            <input
              type="text"
              name="resortId"
              value="{{ regionId }}"
              class="form-control"
            />
          </div>
        <div class="userEnterr">
          <input
            type="submit"
            value="Add to My Resorts"
            class="btn btn-success"
            id="logInButReg"
          />
        </div>
      </form>
</div>

<div id="bottomCards">
  <div class="homeCards">
    <img src='http://snocountry.com/ski_area_logos/{{regions[0].id}}logo.jpg' class="regionImg">
<p>___________</p> 
<h6>{{regions[0].maxOpenDownHillAcres}}</h6>
<h6>Skiable Acres</h6>
<form id="logInForm" action="/resorts" method="POST">
    <div id="resortSearch" style="display:none">
        <input
          type="text"
          name="resortId"
          value="{{ regions[0].id }}"
          class="form-control"
        />
      </div>
    <div class="userEnterr">
      <input
        type="submit"
        value="Add to My Resorts"
        class="btn btn-success"
        id="logInButReg"
      />
    </div>
  </form>
</div>
  
  <div class="homeCards">
    <img src='http://snocountry.com/ski_area_logos/{{regions[1].id}}logo.jpg' class="regionImg">
    <p>___________</p>  
    <h6>{{regions[1].maxOpenDownHillAcres}}</h6>
<h6>Skiable Acres</h6>
<form id="logInForm" action="/resorts" method="POST">
    <div id="resortSearch" style="display:none">
        <input
          type="text"
          name="resortId"
          value="{{ regions[1].id }}"
          class="form-control"
        />
      </div>
    <div class="userEnterr">
      <input
        type="submit"
        value="Add to My Resorts"
        class="btn btn-success"
        id="logInButReg"
      />
    </div>
  </form>
  </div>
 
  <div class="homeCards">
    <img src='http://snocountry.com/ski_area_logos/{{regions[2].id}}logo.jpg' class="regionImg">
    <p>___________</p>  
    <h6>{{regions[2].maxOpenDownHillAcres}}</h6>
<h6>Skiable Acres</h6>
<form id="logInForm" action="/resorts" method="POST">
    <div id="resortSearch" style="display:none">
        <input
          type="text"
          name="resortId"
          value="{{ regions[2].id }}"
          class="form-control"
        />
      </div>
    <div class="userEnterr">
      <input
        type="submit"
        value="Add to My Resorts"
        class="btn btn-success"
        id="logInButReg"
      />
    </div>
  </form>
  </div>
</div>






{% endblock %}